<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
 <!-- This is our spring configuration file.The name of this file in our case is applicationContext.xml.Any name can be given.-->

 <!-- This example demonstrates the use of Spring annotation and how to achieve Inversion Of Control using annotation.
      Until now we were doing all the things by setting doing configuration inside the configuration file.
      But now we will use annotation.  
 
      But to use the annotation we will first have to enable the component scanning.And below we are doing that.  
 -->
<context:component-scan base-package="com.TestingSpring"></context:component-scan>


</beans>





